.sing-page {
    height: 777px;
    margin-bottom: 1900px;
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
  }
  .sing-page__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sing-page__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.14);
  }
  .sing-page__arrow:hover {
    filter: invert(57%) sepia(19%) saturate(2664%) hue-rotate(311deg) brightness(102%) contrast(89%);
  }
  .sing-page__info {
    width: 1141px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sing-page__info__collection-title {
    padding-top: 73px;
    padding-bottom: 14px;
    border-bottom: 1px solid #eaeaea;
    display: block;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
  }
  .sing-page__info__border-middle {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
  }
  .sing-page__info__title {
    padding-top: 17px;
    padding-bottom: 67px;
    font-family: Lato;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
  }
  .sing-page__info__description {
    padding-bottom: 28px;
    width: 618px;
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #5e5e5e;
  }
  .sing-page__info__productionflex {
    display: flex;
    flex-direction: row;
    gap: 44px;
    padding-bottom: 107px;
  }
  .sing-page__info__production-category {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #b9b9b9;
  }
  .sing-page__info__production-category__value {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #2f2f2f;
  }
  .sing-page__info__price {
    font-family: Lato;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #ef5b70;
  }
  .sing-page__info__paramChoice {
    margin-top: 43px;
    padding-top: 63px;
    border-top: 1px solid #eaeaea;
    width: 537px;
    display: flex;
    flex-direction: row;
    gap: 53px;
  }
  .sing-page__info__input {
    margin-top: 16px;
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding-left: 16px;
    font-family: Lato;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
  }
  .sing-page__info__input_select {
    padding-left: 15px;
    margin-top: 16px;
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-family: Lato;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
  }
  .sing-page__info__input_select-value {
    border-left: 12px solid #ef5b70;
  }
  .sing-page__info__button {
    margin-top: 28px;
    margin-bottom: 122px;
    display: block;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    width: 537px;
    height: 55px;
    color: #ffffff;
    background-color: #ef5b70;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .sing-page__info__button_add-inscription {
    display: block;
  }
  .sing-page__info__button:hover {
    color: #ef5b70;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
  }
  .sing-page__info__button:hover .sing-page__info__button_img {
    filter: invert(57%) sepia(19%) saturate(2664%) hue-rotate(311deg) brightness(102%) contrast(89%);
  }
  .sing-page__items_title {
    padding-top: 119px;
    padding-bottom: 72px;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
  }
  .sing-page__items_box {
    padding-left: 231px;
    padding-right: 230px;
    padding-bottom: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
  }
